<dialog class="mdl-dialog image-select-modal" id="image-select-modal">
  <div class="mdl-dialog__content">
    <div class="mdl-grid sample-images-grid">
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/apples_in_a_bowl.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/cat_on_couch.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/danishes.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/desk_plant.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/fruit.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/microwave.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/oranges_in_a_bowl.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/owl_and_book_stop.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/ping_pong_paddle.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/pool_balls.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/pot_and_pan.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/potted_plant.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/vase.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/cocktail_glass.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/coffee_cup.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/purse.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/side_table.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/living_room_furniture.jpg" alt="">
      </div>
      <div class="mdl-cell mdl-cell--2-col">
        <img src="{{ static_dir }}/img/samples/sugar_jar.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="mdl-dialog__actions">
    <button id="file-dialog-cancel" type="button" class="mdl-button">Cancel</button>
  </div>
</dialog>
