<div id="webcam-div" class="user-video-container">
  <video id="video" class="user-video-input-display" autoplay></video>
  <div id="emotion-recognizer" class="feelnet-response-container">
    <div id="captured-frame-div">
       <canvas id="canvas" class="user-video-display-canvas"></canvas>
    </div>
  </div>
  <div id='spinner-explanation' class='explain-text'>Reading your expression...</div><br>
  <div class="mdl-spinner mdl-js-spinner" id='emotion-spinner'></div><br>
  <div id="feelnet-output-div" class='explain-text'></div>

</div>
